/*
Future Add-Ons to project?
1. Add more colors to elements
2. Add some animations
3. Add some box shadow to elements


*/

body {
  background-color: rgb(255,255,255,0.6);
}

.outputContainer {
  border: 1px solid black;
  border-radius: 20px;
  width: 30%;
}
