/*
Future Add-Ons to project?
1. Add some animations

*/

$small: 2rem;
$medium: 4rem;
$large: 6rem;
$primaryColor: lightblue;
$secondaryColor: darkblue;
$dark: rgb(0,0,0,0.8);
$light: rgb(255,255,255,0.5);
$quick: 1s;
$slow: 3s;

body {
  background-color: rgb(255,255,255,0.6);
}

.outputContainer {
  border: 1px solid black;
  border-radius: 20px;
  width: 30%;
  box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.75);
}
